* {
  margin: 0;
  padding: 0;
}

h1 {
  border-radius: 60px;
}

.bg_aqua {
  background-color: aqua;
}

.color_tomato {
  color: tomato;
}

#destacado {
  border: 2px solid black;
  padding: 20px;
}

.form_registro .datos_persona{
    display: inline-block;
}

.form_registro .datos_persona .input_nombre{
    padding: 10px;
    border-radius: 8px;
}

.form_registro .datos_persona .input_nombre:focus{
    border: 2px saddlebrown solid;
    background-color: mediumseagreen;
}


button{
    display: inline-block; 
}

button:hover{
    background-color: teal;
    color: white;
    border: none; 
    padding: 10px;
}

p{
    display: inline-block;
}